.back-page {
    text-decoration: none;
    color: white;
    border: solid 2px grey;
    border-radius: 30%;
    padding: 5px;
}

.box-back {
    margin: 20px;
    display: flex;
    left: 10px;
    position: absolute;
}