.li-nav {
    top: 0;
    position: relative;
      display: inline-flex;
      text-decoration: none;
      margin-left: 20px;
      font-size: 40px;
      right: -580px;
      cursor: pointer;
  }

 
