.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home page */

.img-home {
  background-size: cover;
  background-position: center center; 
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;

}

.h1-home{
  position: relative;
  font-size: 100px;
}
/* NAV */
.li-nav {
  top: -130px;
  position: relative;
    display: inline-flex;
    text-decoration: none;
    margin-left: 20px;
    font-size: 40px;
    left: 550px;
    cursor: pointer;
}

.link-nav{
  text-decoration: none;
}


/* Footer */

.ul-footer {
  bottom: -20px;
  position: relative;
    display: inline-flex;
    text-decoration: none;
}

.li-margin {
  margin-left: 300px;
  
}

.link-footer{
  text-decoration: none;
  color: white;
}